{% extends "sira/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags el_pagination_tags puput_tags sira_tags %}

{% block title %}{% if search_term %}{{ search_term }} | {{ blog_page.title }}{% else %}{{ block.super }}
{% endif %}{% endblock title %}
{% block meta_title %}{% if search_term %}{% trans 'Entries for' %} {{ search_type }} {{ search_term }}{% else %}
    {{ block.super }}{% endif %}{% endblock meta_title %}
{% block meta_description %}{% if search_term %}{% trans 'Entries for' %} {{ search_type }} {{ search_term }}{% else %}
    {{ block.super }}{% endif %}{% endblock meta_description %}
{% block social_share %}
    {% image blog_page.header_image fill-800x450 as share_image %}
    <meta property="og:title" content="{{ blog_page.title }}"/>
    <meta property="og:description" content="{{ blog_page.description }}"/>
    <meta property="og:url" content="{% canonical_url %}"/>
    {% if blog_page.header_image %}
        <meta property="og:image" content="{% image_url share_image.url %}"/>
        <meta property="og:image:width" content="800"/>
        <meta property="og:image:height" content="450"/>
        <meta name="twitter:image" content="{% image_url share_image.url %}"/>
    {% endif %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{{ blog_page.title }}"/>
    <meta name="twitter:description" content="{{ blog_page.description }}"/>
{% endblock social_share %}

{% block content %}
    {% include "sira/includes/page_header.html" %}
    {% with per_page=blog_page.num_entries_page %}
        {% lazy_paginate per_page entries %}
        <div class="container search-box">
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6 text-center">
                    <form name="search_form" method="get" action="{% routablepageurl blog_page "entries_search" %}"
                          class="comment-form">
                        <div class="input-group">
                            <input id="search" name="q" type="text" placeholder="Recherche..." class="form-control">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <i class="glyphicon glyphicon-search"></i>
                                    <span class="text">Recherche</span>
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    <span class="text">Effacer</span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include "sira/includes/news_pagination.html" %}
        <section class="blog-masonry bg-muted">
            <div class="container">
                <div class="row">
                    {% for news_entry in entries %}
                        <div class="col-md-4 col-sm-4 blog-masonry-item branding">
                            <div class="item-inner">
                                <div class="thumbnail">
                                    {% if news_entry.header_image %}
                                        {% image news_entry.header_image fill-400x270 as header_image %}
                                        <img alt="{{ news_entry.header_image.title }}" src="{{ header_image.url }}">
                                    {% else %}
                                        <i class="fa fa-5x fa-newspaper-o"></i>
                                    {% endif %}
                                </div>
                                <div class="post-title">
                                    <h3><a href="{% entry_url news_entry blog_page %}">{{ news_entry.title }}</a></h3>
                                    <p>
                                        {% get_entry_sample news_entry.body %}
                                    </p>
                                    <div class="post-meta">
                                        <span class="sub alt-font">{{ news_entry.owner.username }}</span>
                                        <span class="sub alt-font">{{ news_entry.date|date:"DATE_FORMAT" }}</span>
                                    </div>
                                    <a href="{% entry_url news_entry blog_page %}" class="link-text">Lire plus</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% include "sira/includes/news_pagination.html" %}
    {% endwith %}
{% endblock content %}
{% block extra_js %}
    <script type="text/javascript" src="{% static "sira/js/newsPage.js" %}"></script>
{% endblock extra_js%}
