.menu li a {
    color: #095b82;
}

.sidebar-widget li a:hover {
    color: #339900;
}

.sidebar-widget li {
    border-bottom: 2px solid rgba(255, 202, 34, 0.5);
}

.sidebar-widget h5 {
    color: #422600;
}

.sidebar-widget .tags li:hover {
    background: rgba(66, 38, 0, 0.4);
}

.sidebar-widget .tags li a {
    border: 2px solid rgba(255, 202, 34, 0.5) !important;
}

.sidebar-widget .tags li a:hover {
    color: #fff;
}

.sidebar-widget .tags li a {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.bg-secondary-1 {
    background-color: #095b82 !important;
}

.blog-masonry-item span {
    color: #339900;
}

.blog-masonry-item span.sub.alt-font {
    color: #000;
}

.sub a {
    color: #fff;
}

.sub a:hover {
    color: #cc0101;
    text-decoration: underline;
}

.pagination li a {
    color: #339900;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #339900;
    border-color: #339900;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #339900;
    border-color: #339900;
    color: #ffffff;
}

.show {
    display: block !important;
}

.loader.little {
    position: relative;
    width: 100%;
    height: 14em;
}

.item-inner .sidebar-widget .tags li {
    margin: 15px 8px 8px 0;
}

.item-inner .sidebar-widget {
    margin-bottom: 20px;
}

.main-news-block .bloc-title {
    background: rgba(9, 91, 130, 0.56);
}

.main-documents-block .bloc-title {
    background: rgba(51, 153, 0, 0.56);
}

.main-news-block .block-link, .main-documents-block .block-link {
    background: rgba(204, 0, 0, 0.62);
}

.main-news-block .block-link h1, .main-documents-block .block-link h1 {
    margin-top: 10%;
    margin-bottom: 15px;

}

.main-news-block .block-link a, .main-documents-block .block-link a {
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 12px;
    float: right;
}

.main-news-block .bloc-title h1, .main-documents-block .bloc-title h1 {
    color: #ffffff;
}

.main-news-block .blog-comment {
    background: #f3f3f3;
}

.main-news-block .comment-list {
    margin-bottom: 12px;
}

.main-news-block .content {
    padding-bottom: 0;
}

.main-news-block .comment-list li {
    margin-bottom: 10px;
}

.main-news-block .blog-comment .message {
    background: none;
}

.main-gallery-block-title {
    padding-top: 30px;
    padding-bottom: 0px;
    background: #fcde84 !important;
}

.main-video-block-title {
    padding-top: 30px;
    padding-bottom: 0px;
    background: #422600 !important;
}

.main-video-block-title h1 {
    color: #ffffff;
}

.post-title h4 {
    height: 6em;
}

.disabled {
    pointer-events: none;
}

.tags a:hover, .tags a:focus {
    text-decoration: none;
}

.tags a.active {
    background-color: rgba(255, 202, 34, 0.5);
}

.tags a.inactive {
    background-color: transparent;
}

.post-title h3 {
    height: 4em;
    overflow: hidden;
}

.pagination-block {
    text-align: center;
}

.comment-list ol {
    list-style-type: none;
}

.message .info a:focus, .main-news-block .block-link a {
    text-decoration: none;
}

.message p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sira-page-header h1 {
    color: #EB4247;
}

section.pagination-block, .search-box {
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment-form input[type="text"], .comment-form textarea {
    border: solid 1px #ccc !important;
    border-radius: 10px;
}

.video-js button.vjs-big-play-button {
    border-radius: 50%;
    width: 50px;
    top: 37%;
    left: 43%;
}
