{% load static compress %}
<section class="main-documents-block side-image text-heavy clearfix">

    <div class="container">


        <div class="row">

            <div class="col-md-8 col-sm-8 content clearfix">

                <div class="row">
                    <a href="/document">
                        <div class="col-md-11 bloc-title">
                            <h1>Documents</h1>
                        </div>
                        <div class="col-md-1 block-link">
                            <h1><a href="/document"><i class="icon arrow_right"></i></a></h1>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <div class="comment-list" id="block-document">

                    </div>

                </div>
            </div>

        </div><!--end of row-->

    </div>
    <div class="image-container col-md-4 col-sm-3 pull-right">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="{% static "sira/images/side1.jpg" %}">
        </div>
    </div>
</section>