{% load static %}
{% load static compress %}
<section class="main-gallery-block-title primary-features">
    <a href="/images">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                    <h1>Galerie</h1>
                </div>

            </div><!--end of row-->
        </div><!--end of container-->
    </a>
</section>
<section class="main-gallery-block no-pad-bottom projects-gallery">
    <div class="projects-wrapper clearfix">
        <div class="container">
            <div class="row">
                <div class="comment-list" id="block-images">
                </div>
            </div>
        </div><!--end of container-->
    </div><!--end of projects wrapper-->
</section>