{% load sira_tags compress static %}
<section class="main-news-block side-image text-heavy clearfix">
    <div class="image-container col-md-4 col-sm-3 pull-left">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="{% static "sira/images/side2.jpg" %}">
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 content clearfix">
                <a href="#">
                    <div class="row">
                        <div class="col-md-11 bloc-title">
                            <h1>Actualités</h1>
                        </div>
                        <div class="col-md-1 block-link">
                            <h1><a href="/news"><i class="icon arrow_right"></i></a></h1>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <div class="comment-list">
                        <ol>
                            <li>
                                <div class="blog-comment">
                                    <div class="user">
                                        <img alt="User" src="{% static "sira/images/team-small-2.png" %}">
                                    </div>
                                    <div class="message">
                                        <div class="info">
                                            <h6>Chip Mayer</h6>
                                            <span class="date alt-font sub">September 17 2014</span>
                                            <a href="#" class="link-text">Reply</a>
                                        </div>
                                        <p>
                                            Under my tutelage, you will grow from boys to men. From men into gladiators.
                                            And
                                            from gladiators into Swansons.
                                        </p>
                                    </div>
                                </div>
                            </li><!--end of individual comment-->

                            <li>
                                <div class="blog-comment">
                                    <div class="user">
                                        <img alt="User" src="{% static "sira/images/team-small-2.png" %}">
                                    </div>
                                    <div class="message">
                                        <div class="info">
                                            <h6>Rita Repulsa</h6>
                                            <span class="date alt-font sub">September 18 2014</span>
                                            <a href="#" class="link-text">Reply</a>
                                        </div>
                                        <p>
                                            Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                                            voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                                            repellat.
                                        </p>
                                    </div>
                                </div>
                            </li><!--end of individual comment-->
                            <li>
                                <div class="blog-comment">
                                    <div class="user">
                                        <img alt="User" src="{% static "sira/images/team-small-2.png" %}">
                                    </div>
                                    <div class="message">
                                        <div class="info">
                                            <h6>Rita Repulsa</h6>
                                            <span class="date alt-font sub">September 18 2014</span>
                                            <a href="#" class="link-text">Reply</a>
                                        </div>
                                        <p>
                                            Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                                            voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                                            repellat.
                                        </p>
                                    </div>
                                </div>
                            </li><!--end of individual comment-->
                            <li>
                                <div class="blog-comment">
                                    <div class="user">
                                        <img alt="User" src="{% static "sira/images/team-small-2.png" %}">
                                    </div>
                                    <div class="message">
                                        <div class="info">
                                            <h6>Bill Thompson</h6>
                                            <span class="date alt-font sub">September 12 2014</span>
                                            <a href="#" class="link-text">Reply</a>
                                        </div>
                                        <p>
                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                            occaecat cupidatat non proident.
                                        </p>
                                    </div>
                                </div>
                            </li><!--end of individual comment-->

                        </ol>
                    </div>
                </div>
            </div>

        </div><!--end of row-->

    </div>
</section>