{% load sira_tags wagtailcore_tags static %}
{% get_site_root as site_root %}

{# Implementation of bootstrap theme dropdown menu - shows top level links and their children #}
<div class="nav-container">
    <nav class="top-bar nav-sticky">
        <div class="container">

            <div class="row nav-menu">
                <div class="col-sm-3 col-md-2 columns">
                    <a href="/">
                        <img class="logo logo-light" alt="Logo" src="{% static "sira/images/logo-light.png" %}">
                        <img class="logo logo-dark" alt="Logo" src="{% static "sira/images/logo-light.png" %}">
                    </a>
                </div>

                <div class="col-sm-9 col-md-10 columns">
                    <ul class="menu">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/news">Actualit&eacute;s</a></li>
                        <li><a href="/documents">Documents</a></li>
                        <li><a  href="#">Galerie</a></li>
                        <li><a href="/videos">Vid&eacute;os</a></li>
                    </ul>

                </div>
            </div><!--end of row-->

            <div class="mobile-toggle">
                <i class="icon icon_menu"></i>
            </div>

        </div><!--end of container-->
    </nav>

</div>
