{% extends "sira/base.html" %}
{% load sira_tags compress static %}
{% breadcrumbs %}
{% block content %}
    <section class="blog-masonry bg-muted" id="documents">
    </section>
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.4.201/pdf.js"></script>
    {% compress js %}
        <script src="{% static "sira/js/list.pdf.thumbnail.component.js" %}"></script>
        <script src="{% static "sira/js/list.tags.component.js" %}"></script>
        <script src="{% static "sira/js/list.documents.component.js" %}"></script>
        <script src="{% static "sira/js/list.inner.controller.js" %}"></script>
        <script src="{% static "sira/js/list.inner.component.js" %}"></script>
        <script src="{% static "sira/js/list.documentPage.component.js" %}"></script>
    {% endcompress %}
    <script type="application/javascript">
        _package("com.botilab.components.list").listComponentInit("documents", "/api/v1/documents", "document", "documents");
    </script>
{% endblock %}
