{% extends "sira/base.html" %}
{% load sira_tags compress static %}

{% block content %}
    <section class="blog-masonry bg-muted" id="documents">
    </section>
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.5.500/compatibility.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.5.500/pdf.combined.min.js"></script>
    {% compress js %}
        <script src="{% static "sira/js/list.pdf.thumbnail.component.js" %}"></script>
        <script src="{% static "sira/js/list.tags.component.js" %}"></script>
        <script src="{% static "sira/js/list.inner.component.js" %}"></script>
        <script src="{% static "sira/js/list.component.js" %}"></script>
    {% endcompress %}
    <script type="application/javascript">
        _package("com.botilab.components.list").listComponentInit("documents", "/api/v1/documents", "document");
    </script>
{% endblock %}
