{% extends "sira/base.html" %}
{% load sira_tags static compress %}

{% block content %}
<section class="hero-slider">
    <ul class="slides">
        <li class="overlay">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="{% static "sira/images/hero17.jpg" %}">
            </div>

            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-6 col-sm-9">
                        <h1 class="text-white">Bienvenue Sur SIRA Sénégal, toute l'actualité sur l'artisanat au
                            Sénégal </h1>
                    </div>
                </div>
            </div><!--end of container-->
        </li><!--end of individual slide-->

        <!--end of individual slide-->

        <li class="overlay">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="{% static "sira/images/hero9.jpg" %}">
            </div>

            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-6 col-sm-9">
                        <h1 class="text-white">Bienvenue Sur SIRA Sénégal, toute l'actualité sur l'artisanat au
                            Sénégal </h1>
                    </div>
                </div>
            </div><!--end of container-->
        </li><!--end of individual slide-->

        <li class="overlay">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="{% static "sira/images/side1.jpg" %}">
            </div>

            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-6 col-sm-9">
                        <h1 class="text-white">Bienvenue Sur SIRA Sénégal, toute l'actualité sur l'artisanat au
                            Sénégal </h1>
                    </div>
                </div>
            </div><!--end of container-->
        </li><!--end of individual slide-->
    </ul>
</section>
{% news_block_homepage %}
{% images_gallery_block_homepage %}
{% documents_block_homepage %}



<section class="main-video-block-title primary-features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <h1>Vidéos</h1>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>
<section class="hero-slider">
    <ul class="slides">
        <li class="overlay">
            <div class="background-image-holder parallax-background">
                <img alt="Background Image" src="img/hero4.jpg">
            </div>

            <div class="video-wrapper">
                <video autoplay="" muted="" loop="">
                    <source src="{% static "sira/video/video.webm" %}" type="video/webm">
                    <source src="{% static "sira/video/video.mp4" %}" type="video/mp4">
                    <source src="{% static "sira/video/video.ogv" %}" type="video/ogg">
                </video>
            </div>

            <div class="container align-vertical">
                <div class="row">
                    <div class="col-sm-9 col-md-8">
                        <h1 class="text-white">Visitez la vidéothèque de SIRA Sénégal.</h1>
                        <a href="/videos" class="btn btn-primary btn-filled">Voir les vidéos</a>
                    </div>
                </div>
            </div><!--end of container-->
        </li><!--end of individual slide-->
        <!--end of individual slide-->
    </ul>
</section>
{% endblock %}
{% block extra_js %}
    <script src="{% static "sira/js/vendor/pdf.1.4.201.min.js" %}"></script>
    {% compress js %}
        <script src="{% static "sira/js/list.pdf.thumbnail.component.js" %}"></script>
        <script src="{% static "sira/js/list.tags.component.js" %}"></script>
        <script src="{% static "sira/js/list.elements.component.js" %}"></script>
        <script src="{% static "sira/js/list.homePage.component.js" %}"></script>
    {% endcompress %}
    <script type="application/javascript">
        _package("com.botilab.components.list").homepageDocListComponentInit("block-document", 
                                                                             "/api/v1/documents", 
                                                                             "document", 
                                                                             "documents");
    </script>
{% endblock %}